@model IEnumerable<AspNetModule1.Models.Comment>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Comments", new { id = item.CommentaireId }, new { }) |
            @Html.ActionLink("Details", "Details", "Comments", new { id = item.CommentaireId }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.CommentaireId }, new { })
        </td>
    </tr>
}
