@model AspNetModule1.Models.Comment

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @Html.Partial("~/Views/Shared/Comments/_CommentDisplay.cshtml",Model)
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CommentaireId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
