@model IEnumerable<AspNetModule1.Models.Employee>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

        @Html.Action("GetList", "Employees",new { employees = Model })

</body>
</html>
